:root {
  --bg: #ffffff;
  --text: #000000;
}

.home {
  position: fixed;
  inset: 0;
  background: var(--bg);
  color: black;
  font-family: 'Times New Roman', Times, serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.fauxllini_blue {
  color:#1e3f79
}

.fauxllini_orange {
  color:#c07d19
}

.body {
  color: black;
  font-family: 'Courier New', Courier, monospace;
}