:root {
  --bg: #ffffff;
  --text: #000000;
}

.ascii {
  margin-top: 0;
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
  font-family: 'Terminal', Courier;
}

.ascii pre {
  font-weight: bolder;
  color: white;
  text-shadow:
    0.3px 0 0 currentColor,
    -0.3px 0 0 currentColor,
    0 0.3px 0 currentColor,
    0 -0.3px 0 currentColor;
}

.home {
  position: fixed;
  inset: 0;
  background: var(--bg);
  color: black;
  font-family: 'Times New Roman', Times, serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.fauxllini_blue {
  color:#1e3f79
}

.fauxllini_orange {
  color:#c07d19
}

.body {
  color: black;
  font-family: 'Courier New', Courier, monospace;
}

test {
  color:#ecc229
}