*, *::before, *::after { box-sizing: border-box; }

:root {
  --color-bg: #0a0a0f;
  --color-accent: #c98009;
}

body {
  margin: 0;
  background: var(--color-bg);
  color: white;
  font-family: sans-serif;
}